%h2 About Pittsburgh Ruby</h2>

%h4 What?
%p Pittsburgh.rb is a group for Ruby programming enthusiasts in Pittsburgh.</p>

%h4 When
%p We meet at 7:30 PM on the first Thursday of every month. <a href="http://www.google.com/calendar/ical/info%40pghrb.org/public/basic.ics">Subscribe</a> to our calendar to keep informed.</p>

%h4 Where
%p
  %a{:href => "http://vivisimo.com/"} Vivísimo
  , 1710 Murray Ave, Pittsburgh, PA 15217.
  %a{:href=>"http://maps.google.com/maps/place?cid=5553659542609095974&q=Vivismo+1710+Murray+Ave,+Pittsburgh,+PA+15217&hl=en&cd=1&cad=src:ppiwlink&ei=s8AVS7eeN6S2ywSvrIFX&sig2=Vc67QCQp-ntwWWMvEsaI_g"} map
  
%h4 Contact Us

%ul  
  %li
    Mailing List:
    %a{:href=>"http://groups.google.com/group/rubypgh"} Google Groups</a><br />
  %li
    Email:
    %a{:href=>"mailto:info@pghrb.org"} info@pghrb.org
  %li
    Twitter:
    %a{:href=>"http://www.twitter.com/pghrb"}@pghrb
