!!!
%html
  %head
    %title Pittsburgh.rb
    = stylesheet_link_tag 'style'
  %body
    #header
      - link_to root_path do
        %h1{:id=>"logo"} Pittsburgh.rb
      %ul{:id=>"nav"}
        %li
          = link_to "About", about_path
          %a{:href=>"#"} Meetings
    #wrapper
      = yield
    #footer 2010 Pittsburgh.rb