!!!
%html
  %head
    %title Pittsburgh.rb
    = stylesheet_link_tag 'style', 'reset'
  %body
    #header
      - link_to root_path, :id=>"logo" do
        %h1 Pittsburgh.rb
      %ul{:id=>"nav"}
        %li
          = link_to "About", about_path
          %a{:href=>"#"} Meetings
    #wrapper
      #main
        = yield
      #aside
        = yield(:sidebar)
      #footer 2010 Pittsburgh.rb